#titulo-principal {
  color: #ff0000;
  background-color: #000000;
  font-size: 2cm;
  margin: 0px;
}

#paragrafo1 {
  color: #ff00ea;
  background-color: #00ff48;
  margin: 0px;
}
#paragrafo2 {
  color: #00ffff;
  background-color: #ff0000;
  margin: 0px;
}
#paragrafo3 {
  color: #ffff00;
  background-color: #0000ff;
  margin: 0px;
}
.paragrafos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1cm;
}
.paragrafos:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-delay: 100ms;
}
